<form [formGroup]="employeeForm">
  <div>
    <label for="firstName">Vorname</label>
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <div>
    <label for="lastName">Nachname</label>
    <input id="lastName" type="text" formControlName="lastName">
  </div>
  <div>
    <label for="street">Straße</label>
    <input id="street" type="text" formControlName="street">
  </div>
  <div>
    <label for="postcode">PLZ</label>
    <input id="postcode" type="text" formControlName="postcode">
  </div>
  <div>
    <label for="city">Ort</label>
    <input id="city" type="text" formControlName="city">
  </div>
  <div>
    <label for="phone">Telefonnummer</label>
    <input id="phone" type="text" formControlName="phone">
  </div>
</form>
<button routerLink="/employee">Abbrechen</button>
<button (click)="submitForm()">Speichern</button>
